body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #313131;

}

* {
    box-sizing: border-box;
  }

.header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,56,131,1) 0%, rgba(116,9,121,1) 57%, rgba(109,15,129,1) 100%);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

}

.nav-link {
padding: 0 20px;
line-height: 50px;
transition: .3s;
text-decoration: none;
list-style-type: none;
font-size: 18px;
font-weight: 300;
color: #ffffff;
}

.nav-link:hover {
color:#ddd6d6;
}


.main {
    display: block;
    margin: 50px 0;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  width: calc(50% - 20px);
  margin: 30px 10px;
  padding: 50px;
  border-left: 1px solid #740979;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  width: 100%;
  padding: 50px;
  border: none;  
}

.section-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #313131;
}

.main-title {
  position: relative;
  padding: 0;
  font-size: 40px;
  font-weight: 600;
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

pre {
  display: inline-block;
  margin:0;
  padding:0;
  text-align: left;
}

.footer {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,56,131,1) 0%, #740979 57%, rgba(109,15,129,1) 100%);
  padding: 20px;
}

.footer-container {
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  color:#ffffff;
}

.git-link {
  color:#ffffff;
}

a {
  text-decoration: none;
  color:#c17ae2;
}

a:hover {
  color:#740979;
}

ul {
  list-style-type: circle;
  transition: color 0.5s;
}

.git-link {
  color:#ffffff;
}

.git-link:hover{
  color:#c17ae2;
}

.img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  box-shadow: 1px 1px 7px #666;
}

.logo {
  height: 60px;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}